In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import pandas as pd

In [ ]:
tsv_file = open("./testdata/PanAltz.txt")
dates = []
o3 = []
unc = []
massf = []
diffc = []
qf = []
S2idq1 = []
S2idq2 = []

for line in tsv_file:
    lsplit = line.split()
    try:
        dates.append(dt.datetime.strptime(lsplit[0], '%Y%m%dT%H%M%S.%fZ'))
    except: 
        dates.append(dt.datetime.strptime(lsplit[0], '%Y%m%dT%H%M%SZ'))
    o3.append(float(lsplit[7]))
    unc.append(float(lsplit[8]))
    massf.append(float(lsplit[9]))
    diffc.append(float(lsplit[10]))
    qf.append(int(lsplit[11]))
    S2idq1.append(float(lsplit[12]))
    S2idq2.append(float(lsplit[13]))

tsv_file.close()

dtime = np.array(dates)
ozone = np.array(o3)
uncty = np.array(unc)
o3massf = np.array(massf)
diffcorr = np.array(diffc)
qflag = np.array(qf)
sum2iDQ1 = np.array(S2idq1)
sum2iDQ2 = np.array(S2idq2)

In [ ]:
mask = (qflag == 0) | (qflag == 1) | (qflag == 10) | (qflag == 11)

In [ ]:
mask = (qflag == 0) | (qflag == 10)

In [ ]:
tsv_file.close()

In [ ]:
#plt.figure(figsize=(10,10))
locator = mdates.AutoDateLocator()
formatter = mdates.DateFormatter('%Y/%m')
fig, ax = plt.subplots(figsize=(15,10))
plt.plot_date(dtime[mask],ozone[mask]*2.6868e16) 
ax.xaxis.set_major_formatter(formatter)
ax.xaxis.set_tick_params(rotation=30, labelsize=12)
ax.yaxis.set_tick_params(labelsize=12)
#plt.xlabel('Date', size =15)
plt.ylabel('molecule/cm$^2$', size =15)
plt.title("Ozone (QF 0,10: high; assured, not-assured)", size =20)
#plt.tight_layout()
#plt.savefig(name_plotout)
plt.show()

In [ ]:
for ele in sum2iDQ1:
    print(ele)

In [ ]:
print(ozone[mask].shape,qflag.shape)

In [ ]:
np.savez("PandoraCCA", dtime=dtime, ozone=ozone,uncty = uncty,o3massf = o3massf, diffcorr = diffcorr, qflag = qflag, sum2iDQ1 = sum2iDQ1, sum2iDQ2 = sum2iDQ2)

In [ ]:
for ele,ii in enumerate(dtime):
    if (ele.hour > 0) & (ele.hour < 13):
        print(ele.strftime("%d-%b-%Y (%H:%M:%S.%f)"))

In [ ]:
for ii,ele in enumerate(dtime):
    print(ele)

In [ ]:
t0 = dt.datetime.utcfromtimestamp(0.0)
tepoch = np.array([(ele-t0).total_seconds() for ele in dtime])
print(tepoch)

In [ ]:
print(tepoch.shape)

In [ ]:
firstday = dt.datetime(year=dtime[0].year,month=dtime[0].month,day=dtime[0].day)
localfirstday = dt.datetime.fromtimestamp((firstday-t0).total_seconds())
print(firstday,localfirstday)

In [ ]:
for ele in tepoch:
    tmp = dt.datetime.fromtimestamp(ele)
    print(tmp)

In [ ]:
#necesito hacer un epoch para ir hora por hora haciendo los promedios, o quiza se pueda hacer dia por dia

In [2]:
#### PANDAS test

In [2]:
npz = np.load('PandoraAltz.npz',allow_pickle=True)
df= pd.DataFrame.from_dict({item: npz[item] for item in npz.files})

In [3]:
df.dtypes

dtime       datetime64[ns]
ozone              float64
uncty              float64
o3massf            float64
diffcorr           float64
qflag                int64
sum2iDQ1           float64
sum2iDQ2           float64
dtype: object

In [4]:
# data re-sampled based on an hour
df.resample('H', on='dtime').ozone.mean()

dtime
2019-01-24 13:00:00     35.202662
2019-01-24 14:00:00    191.753971
2019-01-24 15:00:00    239.834286
2019-01-24 16:00:00    245.016000
2019-01-24 17:00:00    240.464857
                          ...
2021-05-25 19:00:00    252.520000
2021-05-25 20:00:00    265.500000
2021-05-25 21:00:00           NaN
2021-05-25 22:00:00    255.385000
2021-05-25 23:00:00    260.750000
Freq: H, Name: ozone, Length: 20459, dtype: float64

In [5]:
options = [0,10] 
rslt_df = df[df['qflag'].isin(options)]

In [6]:
rslt_df

,dtime,ozone,uncty,o3massf,diffcorr,qflag,sum2iDQ1,sum2iDQ2
562,2019-02-01 15:39:56.000,231.93,0.077097,1.915,0.0,0,0.0,0.0
563,2019-02-01 15:41:21.000,232.15,0.075858,1.900,0.0,0,0.0,0.0
564,2019-02-01 15:42:48.000,231.43,0.107100,1.886,0.0,0,0.0,0.0
565,2019-02-01 15:44:12.000,231.30,0.081117,1.871,0.0,0,0.0,0.0
566,2019-02-01 15:45:38.000,231.54,0.080339,1.858,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...
45825,2021-05-25 17:08:18.600,252.34,0.211250,1.062,0.0,10,0.0,0.0
45827,2021-05-25 17:18:07.400,252.42,0.080186,1.048,0.0,10,0.0,0.0
45830,2021-05-25 17:32:50.400,252.51,0.076676,1.030,0.0,10,0.0,0.0
45832,2021-05-25 17:50:55.700,252.56,0.335810,1.015,0.0,10,0.0,0.0
45834,2021-05-25 18:02:22.300,252.36,0.473210,1.008,0.0,10,0.0,0.0

In [7]:
rslt_df.resample('H', on='dtime').ozone.mean()

dtime
2019-02-01 15:00:00    231.949167
2019-02-01 16:00:00    232.647586
2019-02-01 17:00:00    233.207500
2019-02-01 18:00:00    233.131786
2019-02-01 19:00:00           NaN
                          ...
2021-05-25 14:00:00    258.063000
2021-05-25 15:00:00    256.573000
2021-05-25 16:00:00    253.595000
2021-05-25 17:00:00    252.457500
2021-05-25 18:00:00    252.360000
Freq: H, Name: ozone, Length: 20260, dtype: float64

In [8]:
ts = rslt_df.set_index('dtime')

In [9]:
ts

,ozone,uncty,o3massf,diffcorr,qflag,sum2iDQ1,sum2iDQ2
dtime,,,,,,,
2019-02-01 15:39:56.000,231.93,0.077097,1.915,0.0,0,0.0,0.0
2019-02-01 15:41:21.000,232.15,0.075858,1.900,0.0,0,0.0,0.0
2019-02-01 15:42:48.000,231.43,0.107100,1.886,0.0,0,0.0,0.0
2019-02-01 15:44:12.000,231.30,0.081117,1.871,0.0,0,0.0,0.0
2019-02-01 15:45:38.000,231.54,0.080339,1.858,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...
2021-05-25 17:08:18.600,252.34,0.211250,1.062,0.0,10,0.0,0.0
2021-05-25 17:18:07.400,252.42,0.080186,1.048,0.0,10,0.0,0.0
2021-05-25 17:32:50.400,252.51,0.076676,1.030,0.0,10,0.0,0.0
2021-05-25 17:50:55.700,252.56,0.335810,1.015,0.0,10,0.0,0.0
2021-05-25 18:02:22.300,252.36,0.473210,1.008,0.0,10,0.0,0.0

In [12]:
ts.resample('H',origin='2019-01-01').ozone.mean()

dtime
2019-02-01 15:00:00    231.949167
2019-02-01 16:00:00    232.647586
2019-02-01 17:00:00    233.207500
2019-02-01 18:00:00    233.131786
2019-02-01 19:00:00           NaN
                          ...
2021-05-25 14:00:00    258.063000
2021-05-25 15:00:00    256.573000
2021-05-25 16:00:00    253.595000
2021-05-25 17:00:00    252.457500
2021-05-25 18:00:00    252.360000
Freq: H, Name: ozone, Length: 20260, dtype: float64

In [15]:
ts.ozone.groupby(ts.index.hour).mean()

dtime
0     260.255217
12    253.399608
13    244.567032
14    239.191956
15    238.762829
16    237.866644
17    237.164966
18    237.222574
19    238.353270
20    239.559332
21    240.426911
22    240.170703
23    238.894343
Name: ozone, dtype: float64

In [16]:
ts.ozone.groupby(ts.index.hour).std()

dtime
0      9.612463
12     9.920024
13    14.382471
14    13.305322
15    12.099483
16    11.433803
17    11.018347
18    10.942111
19    10.893694
20    11.610637
21    11.554137
22    11.784281
23    12.489875
Name: ozone, dtype: float64